/* reset some default styles css*/
body 
    {
        margin: 0;
        padding: 0;
        font-family: poppins, sans-serif;
        background-color: #FEEBAE;
    }
/* end of reset some default styles css*/


/* css for footer*/
.footer
    {
        color: white;
        background-color: #000000;
        font-style: normal;
        font-family: Arial, sans-serif;
        font-weight: normal;
        text-align: center;
        width: 100%;
        padding: 1px;
        
    }