/* reset some default styles css*/
body 
    {
        margin: 0;
        padding: 0;
        font-family: poppins, sans-serif;
        background-color: #FEEBAE;
        min-height: 100vh;
    }
/* end of reset some default styles css*/ 



   /* Footer code*/
.footer
   {
       color: white;
       background-color: #000000;
       font-style: normal;
       font-weight: normal;
       text-align: center;
       width: 100%;
       padding: 1px;
       position: sticky;
       top: 100%;
       
   }