/* reset some default styles css*/
body 
    {
        margin: 0;
        padding: 0;
        font-family: poppins, sans-serif;
        background-color: #FEEBAE;
        min-height: 100vh;
    }
/* end of reset some default styles css*/ 

span a 
{
    background: #D7A900;
    color: #fff;
    display: inline-block;
    /* float:left;  remove */
    margin: 10px 10px 0 0;
    padding: 5px 10px
}

/* h1 header css */
.h1_header_title
    {
        color: rgb(0, 0, 0);
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        text-align: left;
        font-size: clamp(1.5rem, -0.5313rem + 6.5vw, 3.125rem);
        width: 100%;
        padding: 10px;
        margin: auto;
    }
/* end of h1 header css */


/* flex container for header navigation css */
.flex-container-navigation 
    {
        display: flex;
        justify-content: flex-end;
        background-color: #D7A900;
        color: #ffffff;
        flex-direction:row;
        
    }

/* flex item */
.flex-button-newsfeed 
    {
        padding: 20px;
        margin: 15px;
        font-size: 30px;
        color: #000000;
        margin: auto;
    }

.flex-button-newsfeed:hover 
    {
        opacity: 0.5;
    }

.flex-button-profile 
    {
        
        padding: 20px;
        margin: 15px;
        font-size: 30px;
        color: #000000;
        margin: auto;
    }

.flex-button-profile:hover 
    {
        opacity: 0.5;
    }

.flex-button-logout 
    {
        padding: 20px;
        margin: 15px;
        font-size: 30px;
        color: #000000;
        margin: auto;
    }

.flex-button-logout:hover 
    {
        opacity: 0.5;
    }

/* media queries for max width 600px */
@media screen and (max-width: 600px) 
    {

        /* Flex Container */
        .flex-container-navigation 
        {
            flex-direction:row;
            
        }
    
        .flex-button-newsfeed 
        {
            padding: 20px;
            margin: 10px;
            font-size: 15px;
            color: #000000;
            margin: auto;
        }

        .flex-button-profile 
        {
            padding: 20px;
            margin: 10px;
            font-size: 15px;
            color: #000000;
            margin: auto;
        }

        .flex-button-logout 
        {
            padding: 20px;
            margin: 10px;
            font-size: 15px;
            color: #000000;
            margin: auto;
        }

        .h1_header_title
        {
            color: rgb(0, 0, 0);
            font-style: normal;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            text-align: left;
            font-size: clamp(1.25rem, -2.25rem + 9.3333vw, 3rem);
            width: 100%;
            padding: 10px;
            margin: auto;
        }
    }
/* End flex container for header navigation css*/


   /* Footer code*/
.footer
   {
       color: white;
       background-color: #000000;
       font-style: normal;
       font-weight: normal;
       text-align: center;
       width: 100%;
       padding: 1px;
       position: sticky;
       top: 100%;
       
   }


@media (max-width: 600px) {
	.footer {
		display: none;
	}
}

.newsfeed-container
    {
        
        margin: auto;
        background-color: #ACA7A7;
        padding: 20px;
        max-width: 1000px;
        border-radius: 15px;
    }
    
.images
{
    width: 1vw;
    height: 1vw;
}